/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: linear-gradient(to right, #333333, #666666);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.image-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-grid img:hover {
    transform: translateY(-5px); /* Add slight lift effect on hover */
}

.content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 20px;
    color: #666;
}

.footer {
    background: linear-gradient(to right, #333333, #666666);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ffd700; /* Change color on hover */
}
